.root {
    padding: 30px;
}
.block {
    margin-bottom: 30px;
}
.block p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 20px;
}
.block p:nth-child(odd) {
    background-color: yellow;
}
.block p:last-child {
    text-transform: uppercase;
}
.link {
    color: red;
}
.link:visited{
    color: green;
}
.link:hover {
    text-decoration: underline;
    color: blue;
}
.link:active{
    color: yellow;
}
.textInput {
    border: 1px solid black;
    height: 50px;
    padding: 0 15px;
    font-size: 18px;
    width: 300px;
    margin-bottom: 10px;
}
.textInput:focus{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.textButton {
    display: block;
    width: 300px;
    height: 50px;
    background-color: gray;
    font-size: 18px;
    text-transform: uppercase;
    color: white;
    margin-bottom: 30px;
}
.textButton:hover {
    background-color: #333;
    color: yellow;
}
.textButton:active {
    background-color: #eee;
    color: black;
}
.list {

}
.list li {
    font-size: 18px;
    margin: 0 0 15px 0;
}
.list li:nth-child(4) {
    text-decoration: underline;
}
.list li:nth-child(even) {
    text-transform: uppercase;
}