.root {
    padding: 30px;
}
.list li {
    font-size: 18px;
    margin: 0 0 10px 0;
    position: relative;
    padding: 0 0 0 30px;
}
.list li:before {
    content: "";
    background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/50/Yes_Check_Circle.svg/240px-Yes_Check_Circle.svg.png") 0 0/20px 20px no-repeat;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 0;
    left: 0;
}
